@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --destaque1 : #64FF37;
    --destaque2 : #325824;
    --cor1 : #ACFC8F;
    --cor2 : #30D400;
    --cor3 : #94CC85;
}

body{
    overflow-x: hidden;
}

#header{
    background-color: var(--cor3);
    height: 10vh;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 8px  rgba(0, 0, 0, 0.315);
    position: sticky;
    top: 0;
    z-index: 2;
}

#icone{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background: var(--cor3);
}

nav > button> a {
    text-decoration: none;
    color: var(--destaque1); 
}

.link{ 
    font-size:1.1em ;
    background-color: var(--cor3);
    color: var(--destaque1);
    border: none;
    outline: none;
    font-weight: bold;
    padding: 5px;
    border-radius: 10px;
    transition: background-color 0.1s, padding 0.1s;
}
.link:hover{
    background-color: #325824;
    padding: 10px;
}

.popup {
  display: none;
  z-index: 3;
  position: fixed;
  top: 0; 
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
}
.popup-conteudo {
  background: white;
  width: 70%;
  padding: 60px;
  margin: 5% auto;
  border-radius: 10px;
}
.popup-conteudo > h2{
    padding: 10px 0px;
    font-size: 1.5em;
}

.popup-conteudo > p{
    margin: 10px 0px;
    font-size: 1.2em;
}
#fecharBtn, #saiba{
    border: none;
    text-decoration: none;
    outline: none;
    background-color: var(--destaque1);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.452);
    padding: 10px;
    border-radius: 10px;
}
#fecharBtn:hover, #saiba:hover{
    background-color: #49be28;
}

.popup.ativo {
  display: block;
}

#inicio-h1{
    position: absolute;
    z-index: 1;
    left: 20%;
    right: 50%;
    margin-top: 20px;
    color: var(--destaque1);
    text-shadow: 0px 1px 1px var(--destaque2);
    font-size: 3em;
    

}

#inicio-p{
    position: absolute;
    z-index: 1;
    top: 50%;
    right:30%;
    transform: translateY(-40%);
    width: 45%;
    font-size: 1.3em;
    line-height: 1.8em;
    

}

.forma{
    position: relative;
    z-index: 0;
    top:90px ;
    right: 20%;
    background: var(--cor3);
    width: 700px;
    height: 700px;
    border-radius: 50%;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.397);
}

#meio-h1{
    color: var(--destaque1);
    text-shadow: 0px 1px 1px var(--destaque2);
    margin-top: 30px ;
    position: absolute;
    left: 70%;
    right: 10%;
    font-size: 3em;
}

#meio-p{
    position: absolute;
    z-index: 1;
    margin-top: 20%;
    right: 40%;
    left: 30%;
    transform: translateY(-40%);
    width: 40%;
    text-align: left;
    font-size: 1.3em;
    line-height: 1.8em;
}

.forma2{
    position: relative;
    z-index: 0;
    top: 90px ;
    left: 80%;
    background: var(--cor1);
    width: 700px;
    height: 700px;
    border-radius: 50%;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.397);
}

#fim-h1{
     color: var(--destaque1);
    text-shadow: 0px 1px 1px var(--destaque2);
    margin-top: 30px ;
    position: absolute;
    left: 10%;
    right: 50%;
    font-size: 3em;
}

 #fim-p{
    position: absolute;
    z-index: 1;
    right: 30%;
    margin-top: 10%;
    transform: translateY(60%);
    width: 45%;
    font-size: 1.3em;
    line-height: 1.8em;
    }
    

.forma3{
    position: relative;
    z-index: 0;
    top: 90px ;
    right: 20%;
    background: var(--destaque2);
    width: 700px;
    height: 700px;
    border-radius: 50%;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.397);
}

#footer{
    background-color: lightgreen;
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 30px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.473);
}
#footer>h1{
    font-size: 1.4em;
    font-weight: bolder;
}
#footer> p{
    line-height: 1.2em;
    font-weight: lighter;
    color: black;
}
.forma,.forma2,.forma3{
    transition: width 0.1s ,height .1s;
}
@media (max-width:1800px) {
    #inicio-p, #fim-p{
        left: 40%;
    }
}

@media (max-width:1200px)  {
    #inicio-h1{
        left: 40px;
    }
     
    #inicio-p{
        right: 20%;
        top: 40%;
    }

    #inicio-p,#fim-p{
        width: 50%;  
        font-size: 1.3em;
        line-height: 2em;
    }

    #meio-h1{
        margin-top: 50px;
        left: 70%;
    }

    #meio-p{
        transform: translateY(15%);
        left: 20%;
        width: 50%;
        font-size: 1.3em;
        line-height: 1.7em;
    }

    #fim-h1{
        left: 40px;
        margin-top: 40px;
    }

    #fim-p{
        transform: translateY(30%);
        right: 20%;
    }

   
    .forma,.forma3{
        right: 30%;
        width: 550px;
        height: 500px;
    }
 
}
@media(max-width:705px){
    .forma,.forma3{
        right: 60%;
    }

    #inicio-p,#meio-p,#fim-p{
        font-size: 1.2em;
    }

    #meio-p{
        width: 60%;
    }
    #fim-h1{
        margin-top: 45px;
    }
    #fim-p{
        transform: translateY(15%);
    }
    .popup{
        position: sticky;
    }
    .popup-conteudo{
        margin: 0% auto;
        transform: translateY(-5%);
        padding: 10%;
    }
}

@media (max-width:550px){
    body{
        overflow-x: hidden;
    }
    .forma,.forma3{
        width: 400px;
        height: 500px;
    }
    #inicio-p,#meio-p,#fim-p{
        font-size: 1.1em;
    }
    #inicio-h1,#fim-h1{
        left: 5%;
    }
    #inicio-h1,#meio-h1,#fim-h1{
        font-size: 2.5em;
    }
   .popup {
    height: 100vh;
    position: sticky;
   }
   .popup-conteudo > p{
    margin: 3px;
    font-size: 1.2em;

   }
}