@charset "UTF-8";

:root{
    --destaque1 : #64FF37;
    --destaque2 : #325824;
    --cor1 : #ACFC8F;
    --cor2 : #30D400;
    --cor3 : #94CC85;
}

 html,body{
            margin: 0;
            overflow-x: hidden;
            font-family: 'Times New Roman', Times, serif;
        }
        .inicio{
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
        }
        .gota{
            position: absolute;
            z-index: 3;
            width: 100px;
            height: 100px;
            margin-top: 20%;
            align-self: flex-start;
            background: linear-gradient(to left,green,rgb(0, 61, 0));
            opacity: 0;
            box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.521);
            border-radius:50% 0% 50% 50% ;
        }
        .logo{
            position: relative;
            z-index: 2;
            font-size:3em;
            margin:10px;
            
            clip-path: inset(100% 0 0 0);

        }
        .horizontal {
        display: flex;
        width: max-content;
        height: 100vh;
        }

        .panel {
        width: 100vw;
        height: 100vh;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;

        flex-shrink: 0;
}
        #one{
            background-color: var(--cor1);
            
        }
        #two{
            background-color:var(--cor3);
            
        }
        #tree{
            background-color: #50a337;
           
        }
        #four{
            background-color: #416b31;
        }
        
        .title{
            margin: 5%;
            font-size: 4em;
            font-family: Arial, Helvetica, sans-serif;
        }
            

         
        .p{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.5em;
            margin: 5%;
            padding: 10px;
            border-radius: 10px;
            background-color: white;
            box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.466);
        }

        
        
        .final{
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
        }

        .campanha{
            font-family: Arial, Helvetica, sans-serif;
            background-color: rgb(190, 190, 190);
            width: 80%;
            height: 90%;
            border-radius: 15px;
            box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.404);
            opacity: 0;
        }

        .campanha > h2{
            font-size: 2.2em;
            margin: 5%;
        }

        .campanha > p{
            margin: 5%;
            text-align: justify;
            font-size: 1.3em;
        }

        .btn{
            border: none;
            background-color: white;
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.459);
            border-radius: 10px;
            margin: 5%;
            margin-top: 0px;
            padding: 10px;
            transition: background .5s,padding .5s ;
        }

        .btn > a{
            text-decoration: none;
            font-weight: bolder;
            color: black;
        }
        .btn:hover{
            background: rgb(104, 103, 103);
            padding: 9px;
        }

      
        @media(min-width:1400px ){
            .p{
                height: 20%;
                width: 60%;
            }
            #pqn{
            height: 10%; 
            }
            .campanha{
                height: 70%;
            }
        }

     @media (max-width: 700px) {

    .logo {
        font-size: 2.5em;
        margin: 10px;
    }

    .gota {
        width: 80px;
        height: 80px;
        margin-top: 20%;
    }

    .title {
        font-size: 3em;
        margin: 5%;
        max-width: 90%;
    }

    .p {
        font-size: 1.2em;
        margin: 8%;
        max-width: 90%;
        padding: 10px;
    }
    .campanha{
        height: 90%;
    }

    .campanha > h2{
          font-size: 2em;
        }

    .campanha > p{
        font-size: 1.2em;
        text-align: none;
    }

    .btn{
        margin-bottom: 0px;
    }

    }

    @media (max-width: 450px) {

    .logo {
        font-size: 2em;
        margin: 10px;
        margin-bottom: 30%;
    }

    .gota {
        width: 60px;
        height: 60px;
        margin-top: 30%;
    }

    .title {
        font-size: 2.2em;
        margin: 5%;
        max-width: 90%;
    }

    .p {
        font-size: 1em;
        margin: 5%;
        max-width: 90%;
        padding: 10px;
        line-height: 1.5;
    }
    .campanha{
        height: 90%;
    }

    .campanha > h2{
          font-size: 1.8em;
        }
}